*{margin: 0;padding: 0;list-style: none;text-decoration: none;}
a,span,li{font-size: 0.9rem;}
body{
    font-size: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#all{
    width: 100%;
    height: 48rem;
    overflow-y: auto;
    background: #f5f5f5;
}
/* title */
#all .title{
    font-size: 1rem;
    color: #000;
    font-weight: 500;
}
/* 去右边距 */
#all .m_right{
    margin-right: 0;
}
#all .active{
    color: red;
}
.page_main{
    width: 92%;
    height: 100%;
    margin: 0 auto;
}

/*  顶部  品牌/公司 */
.top_showChose{
    width: 100%;
    padding-bottom: 1rem;
}
/* 头部标题 */
.banner_title{
    width: 100%;
    height: 3rem;
    /* float: left; */
    line-height: 3rem;
}
.banner_title .ba_brand{
    float: left;
/*    padding-left: 1rem; */
}
.banner_title .ba_change{
    float: right;
    color: red;
/*    padding-right: 1rem; */
}
/* 展示所选内容 */
.banner_show{
    margin-top: 0.5rem;
    width: 100%;
    /* height: 2rem; */
    /* float: left; */
    text-align: center;
}
.bs_noChose{
    margin: 0 auto;
    padding: 0.6rem 2rem;
    border-radius: 0.6rem;
    color: red;
    background: rgb(243, 198, 205);
    border: 0.01rem solid red;
}
.sCp_sp{
	float: left;
	padding: 0.5rem 0.6rem;
	margin: 0 0.8rem 0.5rem 0;
	border-radius: 0.5rem;
	color: red;
	border: 0.03rem solid #ddd;
}
/* 下半部分选项主体内容 */
.main_Chose{
    margin-top: 0.5rem;
    width: 100%;
    /* flex: 1; */
    
}
/* 选项上部标题 */
.mc_title{
    width: 100%;
    height: 3rem;
    float: left;
    line-height: 3rem;
/*    padding-left: 1rem; */
}
.mc_title span:last-child{
    color: rgb(77, 74, 74);
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.chose_box{
    width: 100%;
    float: left;
    /* height: 45rem; */
    padding-bottom: 5rem;
}
.chose_box p{
    width: 100%;
    margin: 0 auto;
}
.list_chose span,.list2_chose span{
    display: inline-block;
    width: 30%;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    margin:0 4.5% 3% 0;
    float: left;
    border: 0.025rem solid rgb(134, 134, 134);
    border-radius: 0.4rem;
    background: #f5f5f5;
}
.list_chose span:nth-child(3n+3),.list2_chose span:nth-child(3n+3){
    margin-right: 0;
}
/*  */
.list1_chose{
    height: 3rem;
}
.list2_chose{
    display: none;
    height: 10rem;
    background: #ddd;
}
/* 底部确定按钮 */
.bottom{
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom:0;
    box-shadow:0rem  0rem 0.1rem 0.1rem #ddd;
    text-align: center;
    line-height: 4rem;
}
.bottom a{
    color: white;
    background: rgb(245, 39, 39);
    font-size: 1rem;
    padding: 0.7rem 10rem;
    border-radius: 0.3rem;
}

