*{margin: 0;padding: 0;list-style: none;text-decoration: none;}
a,span,li{font-size: 0.9rem;}
body,html{
    font-size: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#all{
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #f5f5f5;
	position: relative;
}
/* 去右边距 */
#all .m_right{
    margin-right: 0;
}
#all .active{
    color: red;
    font-weight: bold;
}
/* 主体 */
.textPage{
    width: 90%;
    height: 100%;
    margin: 0rem auto;
}
/* 头部 */
.heard{
    float: left;
    width: 100%;
    margin: 1.5rem auto;
    /* background: peachpuff; */
}
.heard_title{
    width: 90%;
    margin: 0 auto;
}
/* 展示标题 */
.showTitle{
    width: 100%;
	font-weight: 500;
	font-size: 1.2rem;
    text-align: center;
}
/* 展示用户信息 */
.showUser{
    margin-top: 2.5rem;
    width: 100%;
    height: 4rem;
    box-shadow: 0 0 0.3rem 0.3rem #ddd;
    text-align: center;
    position: relative;
}
.showUser img{
    margin-top: -1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}
.showUser p{
    font-weight: 400;
    font-size: 0.9rem;
}
/* 插入内容 */
.insertCont{
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}
.insertCont .mineTxt_none{
    display: inline-block;
    width: 100%;
    height: 2.4rem;
    font-size: 1rem;
    background: rgba(238, 179, 164, 0.6);
    text-align: center;
    line-height: 2.4rem;
    border-radius: 0.5rem;
    border:0.1rem dotted rgb(245, 131, 31);
    color: rgb(238, 116, 9);
}

/* 显示插入得图片或文字 */
.show_insert{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.show_insert img{
    width: 100%;
    margin: 1rem auto; 
}
.show_insert p{
    width: 6rem;
    height: 1.8rem;
    font-size: 0.8rem;
    background: rgb(235, 117, 7);
    color: white;
    text-align: center;
    line-height: 1.8rem;
    border-radius: 0.4rem;
    position: relative;
}
.show_insert p::before{
    content: "";
    border-width: 0.1rem 0.5rem 0.6rem 0;
    border-style: solid;
    border-color: transparent transparent rgb(235, 117, 7);
    position: absolute;
    top: -0.6rem;
}
/* 主体内容 */
.textMain{
    float: left;
    width: 100%;
}
/* 样式  草稿 以下可更改 */
.textMain img{
    width: 100%;
}
/* 侧栏按钮 */
.Sidebar{
	position: fixed;
	top: 75%;
	right: 0.5rem;
	z-index: 100;
	width: 3rem;
}
.back{
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 2.5rem;
	color: red;
	font-size: 1rem;
	border: 0.1rem solid red;
	line-height: 2.5rem;
	text-align: center;
}








