*{margin: 0;padding: 0;list-style: none;text-decoration: none;}
a,span,li{font-size: 0.9rem;}
body,html{
    font-size: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#all{
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #f5f5f5;
}
/* 去右边距 */
#all .m_right{
    margin-right: 0;
}
#all .active{
    color: red;
    font-weight: bold;
}
/* 头部插入 文字/图片选项 */

.up_nav{
    width: 100%;
    height: 3rem;
    overflow: hidden;
    line-height: 3rem;
    background: white;
    border-bottom: 0.05rem solid #ddd;
}
.up_nav span{
    display: inline-block;
    width: 49%;
    text-align: center;
    font-size: 1rem;
}
.up_nav span:first-child{
    border-right: 0.05rem solid #ddd;
}
.active{
    color: red;
}
.show_main{
    overflow: hidden;
    text-align: center;
}
.text_box{
    width: 100%;
    height: 4rem;
    padding: 1rem 1rem;
    outline: none;
    border: 0;
    overflow-x: auto;
    background: rgba(241, 239, 239, 0.5);
}


/* keep_box  存为模板  */

.keep_box{
    width: 100%;
    height: 10rem;
    background: white;
    text-align: center;
}
.keep_box p:not(:last-child){
    width: 90%;
    height: 20%;
    margin: 0 auto;
    text-align: left;
    padding-top: 0.8rem;

}
.keep_box p *{
    float: left;
}
.keep_box .ckb{
    display: none;
}
.keep_box .ckb+label{
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    border-radius: 1.2rem;
    border: 0.08rem solid #ddd;
}
.keep_box .ckb:checked+label{
    border: 0.08rem solid rgb(247, 7, 7);
}
.keep_box .ckb:checked +label::before{
    display: block;
    content: "\2714";
    text-align: center;
    font-size: 1rem;
    color: rgb(247, 7, 7);
}
.keep_box .Tips{
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    margin: 0 1rem 0 0.5rem;
}
.keep_box p span{
    font-size: 0.8rem;
    color: rgb(109, 107, 107);
    margin-top: 0.25rem;
}
/* 确认选项 */
.keep_box p:last-child{
    width: 90%;
    height:28%;
    margin:0.8rem auto;
}
.confirm{
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height:3rem;
    color: white;
    background: rgb(245, 39, 39);
    font-size: 1.1rem;
    border-radius: 0.4rem;
}

/* 展示选中后图片 */
#file0{
    display: none;
}
#img0{
    width: 90%;
    margin: 2rem auto; 
    /* display: none; */
}
/* 选择模板 */
.mould{
    width: 90%;
    /* height: 10rem; */
    margin: 1rem auto;
}
.mould h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.mould_text,.mould_img{
    width: 100%;
    margin-bottom: 1rem;
    background: white;
    position: relative;
}
.mould_text p,.mould_img p{
    width: 90%;
    margin: 0rem auto;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    color: rgb(97, 96, 96);
}
.mould .delete_text{
    color: red;
    /* position: relative;
    left: 85%; */
    text-align: right;
    
}
.mould_img{text-align: center;}
.mould_img img{
    width: 90%;
    margin: 1rem auto; 
}

